{% extends '_base.html' %}
{% block nav_li %}
	<nav id="navbar">
		<ul>
			<li><a class="Hoover2" href="login">Login</a></li>
			<li><a class="Hoover2" href="index">Home</a></li>
		</ul>
	</nav>
{% endblock %}

{% block content %}
	<h1 class="centrar" style="width:100%; text-align:center; margin-top: 50px">{{ titulo }}</h1>
	<form style="width: 100%; text-align: center; margin-top: 50px; margin-bottom: 100px;" action="sign/dosign" method="post">
		<p>Nombre</p>
		<input type="text" name="nombre" required/>
		<p>Alias</p>
		<input type="text" name="alias"/>
		<p>Email</p>
		<input type="email" name="email" required/>
		<p>Password</p>
		<input type="password" name="clave" required/>
		<p>Repeat the password</p>
		<input type="password" name="claveRep" required/>
		<br><input type="submit" value="Sign in" style="margin-top: 50px;"/>
	</form>
{% endblock %}